[2014-03-31 22:42] chriswnl opened #2 "Ruby 1.8+ or 2.00+"
According to https://www.mollie.nl/betaaldiensten/modules this module is for Ruby 1.8 and up. Having downloaded and tried to require it, I got a naming error for `__dir__` coming from Client.rb. This it seems was only introduced from Ruby 2.0.

Changing it to

[code]

fixed the issue for me in lines 15 and 60 of the current release.

[2014-04-05 13:52] #2 closed, assigned to RickWong

[2014-05-13 10:36] jurriaan opened #3 "Make the gem more Ruby-like"
Please adhere to some sort of Ruby style guide (for example https://github.com/bbatsov/ruby-style-guide).

Things like 2 space soft-indent and `under_scored_method_names` are pretty common in the Ruby community.

It would also be great if you had a setter on the class for the API Key, something like this:
[code]

That would make the usage of this gem much more pleasant in for example Rails.

[2014-05-13 10:39] jurriaan opened #4 "NoMethodError when calling getPaymentUrl."
I don't exactly know what happened here, but I think my code tried to request a payment URL from a closed payment.

[code]

[2014-11-23 18:10] rogierslag opened #5 "No bitcoin possibility"
We'd like to support Bitcoin as well, which should easily be possible.

However, this gem is not ready and does not accept bitcoin (yet)

It should be done with the following snippet, but the required method is not available.

[code]

[2014-11-24 09:53] #5 closed, assigned to nobody

[2015-04-17 06:55] rogierslag opened #10 "Upgrade rest-client"
Recently a vulnerability for rest-client was discovered, so upgrading to version 1.8 is strongly recommended. However this gem still forces the version down to 1.6. Can you guys test and upgrade to the newest version so we do no longer have to use a vulnerable version since it's the lowest common denominator?

I can test and create a PR if you like!

[2015-04-17 07:13] paetor commented on #10
Thanks @rogierslag, a PR would be nice and thanks for raising this issue.

[2015-04-17 11:18] rogierslag commented on #3
this issue could be closed based on https://github.com/mollie/mollie-api-ruby/pull/9 right?

[2015-04-17 15:17] dennisdevulder commented on #3
Great improvement rogierslag, thanks!

[2015-04-17 16:16] rogierslag commented on #3
I have to say that wasnt me though ;)

[2015-08-07 10:51] rogierslag opened #12 "support for Belfius in API client"
Is there a release scheduled to include Belfius in the API client as well? I'd rather not fork the client just to add a constant ;)

[2015-08-10 12:31] #12 closed

[2015-08-10 12:33] willemstuursma commented on #12
I've added it, thanks for pointing it out.

[2015-08-10 12:34] willemstuursma commented on #3
Changes have been made in #9.

[2015-08-10 12:34] #3 closed

[2015-08-10 12:35] #10 closed

[2015-09-01 13:52] gregbeech opened #14 "HTTP status code is not available in errors"
The API status codes are [well documented](https://www.mollie.com/en/docs/errors#alle-mogelijke-statuscodes) however the API library currently discards the status code. This change captures the HTTP code and returns it on the raised error.

Having this status available is important to allow callers to distinguish between cases such as a payment not being found, credentials being invalid, or the ga

[2015-09-01 13:53] gregbeech commented on #14
Note that #13 is a proposed fix for this issue.

[2015-09-03 13:21] willemstuursma commented on #14
#13 is merged now, thanks.

[2015-09-03 13:21] #14 closed

[2015-11-22 17:46] dhiemstra commented on #4
:+1: it seems the API doesn't return a paymentUrl inside the links hash when requesting a existing payment.

[2015-11-23 21:19] florish opened #16 "Ruby-esque aliases for public Client interface"
While this gem was quite easy to use (thanks!), I noticed I had some difficulties implementing it, due to unexpected naming conventions used. Coding conventions are arbitrary of course, but here are a couple of examples and more common Ruby way to write them:

## Mollie::API::Client

* `getApiKey` would be `api_key` (no "get" prefix, and snake_case)
* `setApiKey(value)` would be `api_key=(value)`

[2015-12-15 15:47] jrnk commented on #16
+1 on this (if it helps)

Reading the first example and seeing `getPaymentUrl` as a method led me to this issue

[2015-12-15 15:52] RickWong commented on #16
Hi @florish & @jrnk,

The idea was to keep the names aligned with the other supported language. However,

That sounds reasonable too. And we're actually rethinking the naming constraint. Do you think moving to Ruby naming conventions would make the API client easier to learn?

[2015-12-15 16:06] jrnk commented on #16
If you stick to the conventions for a supported language it should make it easier/more straightforward to implement. I'm not sure how keeping method names aligned across languages helps the developers implementing it for (most of the time) one language.

I can see how it helps the developers writing the libraries though ;)

[2015-12-18 11:33] Daniel304 opened #17 "getaddrinfo: Name or service not known"
On development it works perfectly but when it runs on the production and on our user acceptance environment it will throw the error: getaddrinfo: Name or service not known

        payment = mollie.payments.create(
          :amount       => number_to_currency(customer.amount, unit: ''),
          :description  => "testing",
          :redirectUrl  => url,
          :metadata     => {

[2015-12-18 12:52] paetor commented on #17
Maybe look at /etc/resolv.conf on your acceptance environment. I've had this issue in the past when resolv.conf is setup with multiple servers (which is normal), where the first one listed does not actually work (which is not normal, but can very well be the case). My experience is that getaddrinfo only tries the first one and then fails in the way you've described without ever trying the second.

[2015-12-18 13:26] Daniel304 commented on #17
We found the issue:
not working
  RestClient.proxy = 'http://proxy:8080'
working
  RestClient.proxy = 'http://proxy:8080/'
the problem lays in the / which should not be there !!!

[2016-01-05 20:26] florish commented on #16
@RickWong From your point of view as developer, I can see the benefits of keeping the same method names for all supported languages. But as @jrnk points out, the price you pay is some confusion for developers implementing the API client in languages where the predominant code style differs from the one you chose based on your own preferences.

In addition to implementing the API, following Ruby co

[2016-03-03 17:19] cynrichuys opened #20 "Add support for partial refund"
For now only full refunds are possible

[2016-03-09 10:19] willemstuursma commented on #16
Thanks @florish for the PR.

[2016-03-09 10:19] #16 closed

[2016-03-09 10:20] #17 closed

[2016-03-21 08:11] Dandandan opened #23 "Publish 1.2.2"
Hi,

Thanks for merging my PR. When will the version 1.2.2 be released?

[2016-03-21 15:49] RicardoJ commented on #23
I just released `v1.2.2` into the wild cloud full of ~~bad~~ good servers :wink:

Good luck with your quest to install the new gem and thank you for your contribution to this project.

[2016-03-21 15:49] #23 closed

[2016-03-22 08:42] rogierslag opened #24 "Changelogs and releases"
Hi guys,

Awesome work on the gem. However it is becoming sometimes kinda difficult to determine whether to update the version used in our applications. Could you may be also publish Github releases or add a changelog? Its not really clear what has changed in v1.2.x for example, even though it already on rubygems.

Thnx!

[2016-03-22 09:43] RicardoJ commented on #24
Hello Rogier,

You got a really good point here. I'll setup a changelog file and will keep the releases on GitHub also up to date. We somehow forgot these in this library, we're sorry.

[2016-03-22 10:25] #24 closed

[2016-05-14 13:13] karensg opened #25 "Add pagination support to all resources"
Hi,

How do I pass the `count` and `offset` parameters to Payment LIST method. So far I can see, it is not implemented as

[code]

 does not accept any parameters.

Thanks

[2016-06-17 13:25] martyphee opened #27 "Can you add refunded? to payment please"
https://github.com/mollie/mollie-api-ruby/blob/master/lib/Mollie/API/Object/Payment.rb

In our code we have to check the status it would nice if we could just call `payment.refunded?`.

[2016-06-17 14:39] willemstuursma commented on #27
I'll get somebody to add this early next week. We of course take pull requests if you can't wait that long.

[2016-06-17 20:08] martyphee commented on #27
@willemstuursma  https://github.com/mollie/mollie-api-ruby/pull/28

[2016-07-24 11:08] karensg opened #30 "Update or remove dependencies"
Please update `json` & `rest-client` dependencies as this gem is holding up the development of the applications

It also drops the support for Ruby `1.9` which is about time:
<https://www.ruby-lang.org/en/news/2014/07/01/eol-for-1-8-7-and-1-9-2/>

[2016-08-17 09:52] Rubytastic2 opened #31 "Example layout views?"
Is there an complete example including a form and a view on how to implement ideal?
Totally not clear how to build the ideal frontend views.

[2016-08-17 10:11] Daanvm commented on #31
Hi,

You don't have to build any iDEAL frontend views. In the [first example](https://github.com/mollie/mollie-api-ruby/blob/master/examples/1-new-payment.rb#L29-L42) you can see how to create a payment. You should [redirect the consumer to the payment URL](https://github.com/mollie/mollie-api-ruby/blob/master/examples/1-new-payment.rb#L49-L52) and we will do the rest of the work.

For more inform

[2016-08-17 10:11] #31 closed

[2016-08-17 10:28] Rubytastic2 commented on #31
Thank you after running the sinatra code It worked.
Had to change the API key in every file.

Only problem now is the payment status is always "open" even if I select it failed, accepted

[2016-08-17 11:12] Daanvm commented on #31
This is probably because of a problem with your webhook. The webhook is used to report status updates to your webserver.

When you send an e-mail to info@mollie.com with a payment ID we can help you sorting out this issue.

[2016-08-26 14:39] Daanvm commented on #30
Hi Karens,
Thanks for opening this issue and apologies for the late reply!

I'm not really a ruby developer myself, but I agree that when ruby v1.9.2 is already two years EOL it would be nice to update our client.

[2016-08-26 14:41] Daanvm commented on #30
Note that both #29 and #32 will be fixed when we fix this issue.

[2016-08-26 14:46] Daanvm commented on #25
Hi Karens,
Thanks for pointing this out and apologies for the late reply!

I think you're right, we should add support for pagination to all resources, not only the payments LIST method.

[2016-08-26 14:50] Daanvm commented on #20
Hi @cynrichuys,
Thanks for your request and apologies for the late reply!

I'm not really a ruby developer myself, so I have to discus this with my colleagues, but I think you're right and we should add support for partial refunds.

[2016-08-26 14:51] Daanvm commented on #4
Hi Juriaan and Danny,
Thanks for bringing this to our attention and apologies for the late reply!

Is this issue still relevant?

[2016-08-27 12:06] dhiemstra commented on #4
Yes @Daanvm

I just tested it with the latest version of the gem and this is still an issue.

[code]

The problem lies in [/lib/Mollie/API/Object/Payment.rb#L61](https://github.com/mollie/mollie-api-ruby/blob/master/lib/Mollie/API/Object/Payment.rb#L61) which expects the API to return a `paymentUrl` entry inside the JSON `links` block.
If you'd return this `paymentUrl` in your `GET /payments` API

[2016-08-27 16:53] karensg commented on #30
Great to hear. Looking forward to the merge

[2016-08-29 12:17] Daanvm commented on #4
Our api does return the paymentUrl for open payments. When a payment has a final state we don't return the paymentUrl anymore, because there is nothing to do for the consumer. However, this shouldn't result in an error in our client.

I'm not a ruby developer myself, so we have to wait a few weeks before our ruby developer is coming back from vacation. When someone is willing to create a PR I woul

[2016-08-29 12:28] dhiemstra commented on #4
Hi @Daanvm,

I've debugged this and you're right.
I think we somehow sometimes try to get the paymentUrl while the state is not `open`.
We should check the `state` here on our side anyway so for us this issue is not relevant anymore.

Thanks for your explanation.

[2016-08-29 12:32] Daanvm commented on #4
Good to head that @dhiemstra

[2016-09-01 00:24] michaelshmitty opened #34 "Documentation examples should work with the latest version of the Ruby client"
Either the [documentation here](https://www.mollie.com/nl/docs/reference/mandates/list) is out of date or this gem is broken.
The documentation and examples in this gem are rather poor.

My ultimate goal is to create a subscription / recurring payment. But I can't even seem to get past listing the active mandates after creating the customer and processing an initial payment:

`require 'Mollie/API/

[2016-09-30 15:32] Daanvm commented on #34
You're right, this gem does need some love!
We're currently working on a new 2.0.0-release. I'll make sure the code examples on the docs are correct for this new release.

I think the code examples in the documentation use methods that aren't implemented yet in our Ruby client.

[2016-09-30 15:35] Daanvm commented on #30
We're currently working on a 2.0.0-release which will work with the latest versions of all dependencies.

[2016-09-30 15:42] Daanvm commented on #30
Hi @benoist, there is already an issue for the dependencies.

As suggested in PR #36 we should remove the `rest-client` dependency and just use the stdlib `HTTP` library.

The `json` dependency is already removed in our 2.0.0 branch, as it's included in ruby by default since ruby 2.1.

[2016-09-30 15:46] benoist commented on #30
Ok I will use this as the issue to create the PR

[2016-10-01 17:48] benoist opened #38 "Refactor Object and Resource classes"
Just to give a heads up. I will be working on refactoring the Object and Resource classes.

[code]

Adding the attr_accessor based on the response body can lead to memory consumption on never used attr_accessors when the response body (accidentally) returns a large list of unwanted parameters.
I will also move the CamelCase to snake_case conversion to a better location.

[2016-10-03 09:36] Daanvm commented on #30
Fixed in PR #37

[2016-10-03 09:36] #30 closed

[2016-10-03 09:43] Daanvm commented on #38
Great! How do you want to implement it? By defining a list of all expected properties in each `Object` or `Resource` class?

[2016-10-03 09:48] benoist commented on #38
Not sure yet, but I'm leaning towards listing all the expected properties. This has the upside of IDE's to really see the methods. Downside is, that it requires an update of the gem when the API adds or removes properties. How often would that happen?

[2016-10-03 09:51] Daanvm opened #39 "Adding tests"
I would like to add unit tests to this repo. For as far as I know [test-unit (Test::Unit)](https://github.com/test-unit/test-unit/) is the go-to library for unit testing in Ruby.

[2016-10-03 16:28] benoist commented on #39
Test::Unit and RSpec are both very popular. Test unit will do just fine.
Using something like https://github.com/bblimke/webmock will also be a nice help to stub the API calls

[2016-10-03 20:22] Daanvm commented on #38
We do update our API from time to time. You can check our [changelog](https://www.mollie.com/en/docs/changelog) to get an idea. However, they are all small, backwards compatible changes. I don't think it's really a problem to update the list of expected properties from time to time. It would only be a small change, right?

[2016-10-03 20:24] benoist commented on #38
Yeah it would only require a small change to add more fields. So I'll go with that option. I hopefully have some time tomorrow evening or otherwise the next one. But really hope to have something by the end of this week.

[2016-10-03 21:49] Daanvm commented on #39
I created a test suite in PR #40 with `Test::Unit` and `webmock`. Tests should still be added though.

[2016-10-07 07:32] benoist commented on #39
I will probably have some time tonight to add tests

[2016-10-07 07:56] Daanvm opened #42 "Add getters to fetch related resources"
Create a nice way to fetch related resources for an object, e.g. all refunds for a payment or all mandates for a customer.

For some relations an entry is added to the `links` property. See the [GET Payments documentation](https://www.mollie.com/en/docs/reference/payments/get) for an example.

For others we should determine the URL ourself, for example by using the customer's ID to fetch the manda

[2016-10-10 07:30] willemstuursma opened #44 "Invalid value for Accept-Encoding header"
An `Accept-Encoding` header is set. This header is used for indicating the transfer encoding (e.g. `deflate` or `gzip`.

However, in the client is is set to `application/json`. This should be sent in the `Accept` header.

[2016-10-12 15:39] Daanvm commented on #38
This was fixed in PR #41.

[2016-10-12 15:39] #38 closed

[2016-10-13 09:14] benoist commented on #4
In 2.0.0 it returns nil instead of raising errors, you could probably add milestone 2.0.0 and close this

[2016-10-13 09:14] benoist commented on #44
Fixed in 2.0.0

[2016-10-13 09:15] benoist commented on #20
perhaps milestone 2.0.1

[2016-10-13 09:15] benoist commented on #25
perhaps milestone 2.0.1

[2016-10-13 15:52] Daanvm commented on #44
Thanks @benoist
I also want to fix this in the 1.x release for all current ruby client users. It's only a small fix.

[2016-10-13 15:55] Daanvm commented on #25
I agree, except that new features would require a MINOR version bump instead of a PATCH bump.

[2016-10-13 15:56] Daanvm commented on #4
It will only be a small fix, so I'll fix this also for the current release.

[2016-10-13 15:58] Daanvm opened #45 "Publish 2.0.0 release"
I want to publish the 2.0.0 release next week.

[2016-10-13 16:02] Daanvm opened #46 "Add KBC Payment Button constant"
Mollie released the new [KBC Payment Button](https://www.mollie.com/en/kbccbc) method this week. We should add a new constant for it.

[2016-10-19 09:07] #46 closed

[2016-10-24 15:50] Daanvm commented on #39
Fixed in PR #43

[2016-10-24 15:50] #39 closed

[2016-11-04 08:58] karensg commented on #45
Please go ahead. Everybody is waiting ;)

[2016-11-08 13:06] Daanvm commented on #45
Hi, sorry for the silence!
We had some urgent technical issues with an external supplier which took a lot of time. But I'm back, I think I'll have some time tomorrow!

[2016-11-10 19:16] #44 closed

[2016-11-10 19:16] #45 closed

[2016-12-05 04:15] karensg commented on #25
Hi guys,

Do you have any update on this functionality? I think it should be possible to pass all kind of parameters to the GET endpoints in general. It would make this gem much more usable.

Karens

[2016-12-21 09:54] jvanbaarsen opened #50 ".all for subscriptions is throwing a `gsub` error"
Hi there,

When I call the endpoint: `customers_subscriptions.with("cst_xxx").all` I get the following error:
`NoMethodError: undefined method `gsub' for #<Subscription:0x007fa328a39508>`.

I'm running latest version (2.0.1), on ruby 2.3.3.

[2016-12-21 09:59] jvanbaarsen commented on #50
This turns out to be a problem on my side. I was not passing in the correct customer token, but instead an object which was not recognised by the gem.

[2016-12-21 09:59] #50 closed

[2017-01-07 14:33] martijncasteel commented on #25
I would also like to now when it is possible to pass count and limit to the list function.

[2017-02-06 10:37] Daanvm commented on #25
@brambokdam fixed this in PR #51, thanks!

I'll create a new release later today.

[2017-02-06 15:19] Daanvm commented on #25
[Release 2.1.0](https://github.com/mollie/mollie-api-ruby/releases/tag/v2.1.0) is created. It's also released as [gem](https://rubygems.org/gems/mollie-api-ruby) at RubyGems.

[2017-02-06 15:19] #25 closed

[2017-02-06 16:46] karensg commented on #25
Thanks, could finally send the locale parameter to the API.

[2017-02-16 13:34] Lubmes commented on #34
Let me try to help out:
When setting up a payment using the documentation as it stands now I get: **"wrong number of arguments (given 0, expected 1)"**

`
mollie = Mollie::API::Client.new
mollie.setApiKey 'test_EygcTKUUPHnS85C4c5x2GAQ74rnyWr'
`

Should in fact be `mollie = Mollie::API::Client.new 'test_EygcTKUUPHnS85C4c5x2GAQ74rnyWr'` in order for it to work.

Then the next thing that I get jammed

[2017-02-16 14:44] Lubmes commented on #34
Where this Rails implementation of Mollie in my application stands right now:
**undefined method `getPaymentUrl' for #<Mollie::API::Object::Payment:0x007fb6637064a0>**

I am trying to accomplish a payment like so:

**orders_controller.rb**
[code]

**routes.rb**
[code]

No sure if it should be `get 'pay'` or `post 'pay'` that I should be using. Both works for getting orders with an "open" status in

[2017-02-23 14:25] Lubmes commented on #34
I have identified the mistake that gave me the error.

[code]

It seems that the ruby code is mixed with JS code in the docs on the Mollie website.

Anyway with this change my `def pay` now works.

[2017-02-27 12:34] Daanvm commented on #34
Thanks for your feedback @Lubmes! We'll take this into account when we update the Ruby examples on our website.

[2017-03-13 09:16] rogierslag opened #53 "API documentation for Ruby outdated"
The docs on eg https://www.mollie.com/nl/docs/reference/payments/create still refer to the old Ruby API client style (camelcased etc). Since these no longer work, it might be time to update those pages.

[2017-03-13 14:16] willemstuursma commented on #53
We've updated it on our site. Let us know if we missed anything!

[2017-03-13 14:16] #53 closed

[2017-03-13 14:40] willemstuursma commented on #34
Thanks, we've updated the documentation on our site. Let us know if we missed anything.

[2017-03-13 14:40] #34 closed

[2017-03-18 16:43] rogierslag opened #54 "Add support for OAuth-only resources"
The Ruby API docs mention that with OAuth tokens one can request the settlement information (https://www.mollie.com/nl/docs/reference/settlements/open)

However, even though the docs suggest it, these methods are not available in this API client. Will these soon be added?

[2017-03-20 10:33] Daanvm commented on #54
Hi @rogierslag, thanks for reporting this issue.

There are currently no plans to add support for an OAuth authentication flow in the Ruby client. However, when you manage the OAuth flow yourself, you can just pass the Access Token to this client.

Adding the OAuth-only resources shouldn't be too much effort. If that would be sufficient for you, I'll see if I can add them anytime soon.

[2017-04-04 07:38] Lubmes commented on #20
Could someone in the meantime give an alternative way to transfer refunds?
I was told to use cURL and tried curl-to-ruby, faraday and rest-client, but nothing has worked.
Or maybe a monkey patch? That way you're not compromising the project.

[2017-04-04 08:46] Lubmes commented on #20
For people having the same issue as me, I managed with some curl-to-ruby:

_No requires necessary_
[code]

_Needed to convert integer into something mollie accepts_
[code]

[2017-04-05 18:40] benoist commented on #20
Why do you say partial refunds aren't possible?
I haven't tried it yet, but I think this should be possible...

[code]

[2017-04-05 19:06] Lubmes commented on #20
The api isnt ready for that. Believe me, I have tried.

[2017-04-05 19:08] benoist commented on #20
Is the Ruby API that isn't ready or the Mollie API itself?

[2017-04-05 19:10] Lubmes commented on #20
Right, the mollie-api-ruby where this git is for.

[2017-04-05 19:12] benoist commented on #20
I'm just trying to help and gathering all the facts before starting on the bug hunt :-)

[2017-04-05 19:25] Lubmes commented on #20
I'm sorry. I am just a user myself, who also tries to contribute some in the process.

With cURL you can make the api call for a refund with an amount and a description (as I show above).
The API itself, dedicated for Ruby (Rails, Sinatra, etc.) applications, that one doesn't yet do refunds with an amount.
Even had it checked with tech support, because I thought it would, similarly to how you crea

[2017-04-05 19:29] benoist commented on #20
I'm also just a user, but did a major refactor to the library. I will have a look at the bug this weekend. Thanks for the info, knowing the API call works is a big help.

[2017-04-08 11:50] benoist commented on #20
[code]

This works for me with the 2.1.0 version.

[2017-04-08 11:52] benoist commented on #20
It even works with real decimals instead of string

[code]

[2017-04-10 13:12] Lubmes commented on #20
Thank you, that totally worked.
Also thanks for the all.count suggestion, I used that to check success and display an appropriate flash accordingly.
Now my code looks a lot neater.

'https://www.mollie.com/nl/docs/reference/refunds/create' nor tech support could help me with this.

[2017-04-10 13:18] benoist commented on #20
Sure no problem.

FYI

[code]

This returns a refund object if the API call succeeds, if it fails it raises an exception. So checking the count for success won't work. You'd have to rescue the exception if you want to display a flash message like:

[code]

[2017-04-10 13:19] benoist commented on #20
@Daanvm this issue can be closed.

[2017-04-10 17:55] #20 closed

[2017-04-19 13:31] Daanvm commented on #4
It's 6 months later and I can't remember why we should fix this in an old version of our api. This is fixed in the latest version of our client. Using the latest version is always a good idea :)

[2017-04-19 13:31] #4 closed

[2017-04-20 13:50] #54 closed

[2017-04-20 13:53] Daanvm opened #57 "Add examples for recurring payments and OAuth endpoints"
This client currently has only examples for the most basic payment flow. The [mollie-api-php](https://github.com/mollie/mollie-api-php/tree/master/examples) client can be used as an example for the examples.

[2017-05-11 14:52] mvz commented on #34
@willemstuursma the examples on the site still use `withParentId` for the mandates API, when it should just be `with`.

[2017-05-11 14:56] benoist commented on #34
Hey @mvz, how are you?
I will doing some maintenance on this whole repo and that will include updating the examples.
Examples should be updated in the next coming weeks.

[2017-05-11 15:06] mvz commented on #34
Doing fine, @benoist. How about you?

Good to hear the examples will be updated. I wasn't very clear in my previous comment that I meant the example in the documentation here: https://www.mollie.com/nl/docs/reference/mandates/list#example

[2017-05-23 15:57] jean-pereira opened #59 "Examples don't work"
Hello, I get the following issue after opening one of the examples in the browser (after running the web server and clicking i.g. on the first or second example in the list):

[code]

My Ruby version is 2.3.1 but I also tried it with 2.2.1 and got the same error. #

[2017-05-23 15:59] benoist commented on #59
Thank you for reporting. The examples are indeed broken and will be fixed in the next couple of weeks. In the mean time I'd be happy to help you out with questions.

[2017-05-24 08:12] jean-pereira commented on #59
I would like to implement a recurring payment in Ruby/Sinatra with callback. Could you provide a working example for this?

[2017-05-24 08:45] benoist commented on #59
https://github.com/mollie/mollie-api-ruby/blob/master/examples/9-recurring-payment.rb

Hope this works better for you!

[2017-05-24 09:11] jean-pereira commented on #59
This code still doesn't work. If I modify it like this, I can get it running, but there is no "id"-parameter passed after getting redirected from the payment page to the "after_payment"-page (and it doesn't seem to be implemented in the code):

`require 'sinatra'
require "net/https"
require 'mollie/api/client'

get '/start_payment' do
  client = Mollie::API::Client.new("test_XXX")
  customer = cli

[2017-05-24 09:18] benoist commented on #59
Do you want to use the mollie automatic recurring payment, because this code will create a mandate for you so you can create new payments without asking the users permission.

[2017-05-24 09:19] jean-pereira commented on #59
Can you provide a working example for both types (automatic recurring / manual recurring)?

And how do I have to change the code above to get it working so there is actually an id passed?

[2017-05-24 09:30] benoist commented on #59
No you're right the ID is not passed. You can store the id in a session when creating the payment `mollie_payment.id`

As for the subscriptions you first need to use the example code to create the mandate (hence the 1 cent transaction).
When the user has a valid mandate configured you can create a subscription.

[code]

[2017-05-24 09:54] jean-pereira commented on #59
Could you please provide a _full_ and _working_ example code for both payment types (automatic recurring / manual recurring)?

[2017-05-24 09:56] benoist commented on #59
I don't have time today, but will see if I have time this weekend. As a disclaimer I'm not a mollie employee, just trying to help out :-)

[2017-05-24 10:04] jean-pereira commented on #59
Ahhh ok  thanks for your help then :) I was thinking you work at Mollie. I'm just trying to figure it out then!

[2017-05-24 10:06] benoist commented on #59
Just a side question: are you using a Rails application or a Sinatra app?

[2017-05-24 10:10] jean-pereira commented on #59
I'm working with standalone Sinatra.

[2017-05-31 14:21] jean-pereira commented on #59
Hey, I saw that you updated the example. It still doesn't work. I'm trying it with a live API key instead of a test API key:

[code]

By the way: How are you related to Mollie? If you are not an employee of Mollie, why are you maintaining this code then? Just for fun?

[2017-05-31 20:21] benoist commented on #59
Sorry it took a bit longer, didn't have time to start fixing the examples until this evening.
I've added instructions to the README so you can run them for yourself. (The old ones are not removed yet.)
https://github.com/mollie/mollie-api-ruby#api-documentation

You are getting this message because there is no mandate created for the user. You have to set up the first payment as described here:
ht

[2017-05-31 20:25] benoist commented on #59
Please also note that the examples aren't complete yet, more will follow soon. I just prioritised the subscriptions so you can use them.

[2017-06-07 13:23] derekkraan opened #62 "keys not camelized for GET requests"
Request keys are camelized for POST requests, but not for GET requests. I'm not sure if there are certain query params that should *not* be camelized, but there certainly are other params that *should* (eg, `profile_id`).

See https://github.com/mollie/mollie-api-ruby/blob/master/lib/mollie/api/client.rb#L91
and https://github.com/mollie/mollie-api-ruby/blob/master/lib/mollie/api/client.rb#L99

[2017-06-07 19:17] benoist commented on #59
Did you manage to get it working?

[2017-06-07 19:27] #62 closed

[2017-06-07 19:28] benoist commented on #62
Thank you for reporting. Get requests are now camelized in the master branch.

[2017-06-08 07:13] derekkraan commented on #62
Thanks!

[2017-07-24 17:24] #57 closed

[2017-07-24 17:24] benoist commented on #59
Examples have been updated and tested with oAuth2

[2017-07-24 17:24] #59 closed

[2017-07-24 17:32] benoist commented on #42
It might be a good idea to start with adding convenience methods to deal with the resources for example:

[code]

This can be a stepping stone towards adding methods for related resources

[code]

[2017-09-05 22:42] todorus opened #63 "uninitialized constant Mollie::API::Client::Net"
I am trying to add this gem to my Rails app, but I am hitting a roadblock with this namespacing. It doesn't matter how I try, my app just cannot find the Net class.

The code can be viewed at https://github.com/Lindy-what/lindy-admin/tree/mollie
The client is required in [rails-app/config/application.rb](https://github.com/Lindy-what/lindy-admin/blob/mollie/rails-app/config/application.rb)
The Pay

[2017-09-06 06:24] bobvanoorschot commented on #63
I ran into the same problem a couple of months ago, after searching for hours I found out I was missing the Net class from rails. Require this above the code
`require 'net/http'`

[2017-09-06 06:31] benoist commented on #63
This was fixed in the master version on the 31st of may.
There are other issues with version 2.2.0 so I would recommend to use the master branch for now.
I cant push new versions to rubygems (I'm not a mollie employee), but master should be ready to go.

[2017-09-06 06:36] todorus commented on #63
Allright! Tnx for the quick feedback guys.

I am ok to use the master for now, but say I want to use this in production in... less then a month. I don't want my gemfile to referring to a target that's in active development. When would an employee of Mollie be able to push this to rubygems?

[2017-09-06 06:37] benoist commented on #63
I can tag a new version in github and keep that stable.

[2017-09-06 06:39] benoist commented on #63
I've created a v2.2.1 tag, let me know if you run into other issues.

[2017-09-06 06:39] #63 closed

[2017-09-13 07:22] iDuuck opened #64 "uninitialized constant Mollie::API::Client::Net"
When using the gem in Ruby on Rails I am always getting the following error when initiaiting a payment (I think it has something to do with the Net/HTTPs Library):

[code]

[2017-09-13 07:25] benoist commented on #64
Hi Thanks for reaching out. This is fixed in version 2.2.1. This gem version will be released by mollie soon. In the mean time you can use the GitHub tag 2.2.1. Let me know if you have other issues.

[2017-09-13 07:28] iDuuck commented on #64
Wow! Thanks for the *instant* reply! Will try later

- Nick
________________________________
From: Benoist <notifications@github.com>
Sent: Wednesday, September 13, 2017 9:25:27 AM
To: mollie/mollie-api-ruby
Cc: Dominik Schmidt; Author
Subject: Re: [mollie/mollie-api-ruby] uninitialized constant Mollie::API::Client::Net (#64)

Hi Thanks for reaching out. This is fixed in version 2.2.1. This gem ve

[2017-09-13 09:18] #64 closed

[2017-09-13 14:06] Daanvm commented on #64
I just released version 2.2.1 on https://rubygems.org/gems/mollie-api-ruby

[2017-09-19 22:25] ajw400 commented on #34
@mvz thanks!
@benoist still not updated in the docs (withParentId)

[2017-09-20 06:09] benoist commented on #34
hi @ajw400, thanks for the reminder.
The new version has recently been released and I will ask Mollie when they will be able to update the docs on the website. The examples have been updated and can be used instead of the code sample on the website.

[2017-09-20 10:14] willemstuursma commented on #34
@Smitsel can you update it on our website?

[2017-10-19 14:39] MathijsK93 opened #67 "Definition of paid? by direct debit transaction"
What exactly is the definition of `paid?` in case of a charged back direct debit transaction?

The `paid?` methods checks if `paid_datetime` is set, but does it not have to check if the status equals `paid`? For example i have a direct debit transaction which was previously paid, but after a charge back the method `paid?` still returns that the transaction is paid.

In my opinion `paid` means that

[2017-10-31 18:41] benoist opened #68 "Chargeback"
Add the Chargeback API

[2017-10-31 18:57] benoist commented on #67
@Daanvm @willemstuursma do you agree? If so I can change it

[2017-10-31 20:48] benoist commented on #68
closed by #65

[2017-10-31 20:48] #68 closed

[2017-11-02 21:14] #42 closed

[2017-11-02 21:14] benoist commented on #42
Fixed with #65

[2017-11-06 17:01] Daanvm commented on #67
Sorry for the late reply. I've started an internal discussion whether we want to change this or not. For now we've decided to not change this method. If someone has additional arguments why this method should be changed, please let us know.

@MathijsK93 I do understand your concerns. However, there are other use-cases where you want to check if the payment was once paid, for example if you want to

[2017-11-06 17:01] #67 closed

[2017-11-09 12:49] MathijsK93 commented on #67
@Daanvm Thanks for your answer. I fully understand your decision. For me it is a little change, i just wanted to bring it up for discussion.

[2017-11-16 13:02] salman15 opened #69 "Adding mollie to spree"
Not sure where to post this question.

I want to add mollie to spree, but i've no idea how to do this.

[2017-11-16 15:12] benoist commented on #69
I believe that would require creating a spree extension. This is not a very easy task to do.
I think @Daanvm would have to do some research about the possibilities to add support for that.

[2017-11-16 16:03] salman15 commented on #69
That would be splendid, I guess I have to wait for his reply

[2017-11-22 10:56] Daanvm commented on #69
Hi @salman15, we currently don't have any plans to build a Spree extension ourselves. I have no experience with Spree, so I did some research and this is what I've found.

**Existing extensions**
I found some existing Spree extensions for Mollie, but they are all a few years old and not well maintained. I've no idea if they do actually work. You could have a look at them and if you're a developer

[2017-11-22 10:56] #69 closed

[2017-12-02 19:13] asgerb opened #70 "uninitialized constant Mollie (NameError)"
Hey there,
I'm trying to set up Mollie with a new Rails (`5.1.4`) app.
I add the gem to my Gemfile:
[code]
and add an initializer like so:
[code]
This causes an `uninitialized constant Mollie (NameError)` when booting up the app.

It seems there are problems loading the files since if I try to `require 'mollie-api-ruby'` I get:
[code]

Looking at your `gemspec` I see you're using git to determine

[2017-12-02 19:22] benoist commented on #70
It looks like you're trying to set it up using the new API, but you've probably installed the 2.x version.

If you are starting a new implementation I would advise you to use the github repo

[code]

If you want to use the version 2.x version you can view the docs here

https://github.com/mollie/mollie-api-ruby/tree/2.2.x

[2017-12-02 19:30] asgerb commented on #70
Thank you, that did the trick!
How come the version is not pushed to Rubygems yet?
Just curious 🙂

[2017-12-02 19:32] benoist commented on #70
Great! The last changes for the new release were made yesterday and it needs some modifications to the documentation on the website before it can be released.

[2017-12-02 19:32] #70 closed

[2017-12-02 19:35] asgerb commented on #70
Cool, thanks a lot for the super fast response!

[2017-12-23 04:22] maysam commented on #34
How can we create mandates?

[2017-12-24 18:32] tilsammans commented on #70
@benoist still not pushed. Since the README states the instructions for 3.x, a confusing situation has arisen. Do you think you could publish 3.x any time soon?

[2018-01-14 17:57] ldestrooper commented on #70
It is quite confusing with the different versions and readme's

[2018-01-14 18:18] ldestrooper opened #71 "Unauthorized request"
Bij het gebruiken van Mollie in Rails krijg ik een Unauthorized request error door het volgende:

`customer = Mollie::Customer.create(name: first_name, email: email)`

mijn test API is nochtans correct, dus ik begrijp niet waarom ik deze error krijg, enig idee?

[2018-01-14 18:27] benoist commented on #71
Het betekent dat je api_key niet goed is. Hoe heb je deze geconfigureerd? Welke versie gebruik je?

[2018-01-14 18:31] ldestrooper commented on #71
Wow dat was snel :-)

Gemfile:
`gem 'mollie-api-ruby', github: 'mollie/mollie-api-ruby', tag: 'v3.1.0'`

Secrets.yml:
`development:
mollie_secret_key: test_u9jAsrh8kxhEmSe6D35gRh4Nzjg2qb

production:
mollie_secret_key: <%= ENV["MOLLIE_SECRET_KEY"] %>`

Mollie.rb:
`Mollie::Client.api_key = Rails.application.secrets.mollie_secret_key`

[2018-01-14 18:34] benoist commented on #71
Er zat een bug in de v3.1.0 tag en was al gefixt in master.

Ik heb tag v3.1.1 gepushed, configuratie is nu als volgt:

[code]

[2018-01-14 18:39] ldestrooper commented on #71
Heb de 3.1.1 geinstalleerd en was inderdaad die bug, bedankt voor de snelle hulp! 👌

[2018-01-14 18:39] #71 closed

[2018-01-17 09:17] Smitsel opened #72 "Missing documentation and 1 missing require"
Hello @benoist

I've been updating Mollie his ruby examples on our website.

Discovered two things:
- There were 2 cases missing from the docs.
- And the organisation get was missing the require.

I will PR these for you.
P.s. im really liking the swagger examples!

[2018-01-17 09:19] #72 closed

[2018-01-17 11:19] rogerheykoop commented on #34
@maysam Creating a mandate appears to be easy. For a payment method that supports subscriptions you simple add
`recurring_type: "first"`
to your call to
`mollie.payments.create`

This will automatically create a mandate after the customer has created an initial payment.
For getting the mandates for a user this seems to work:
`mollie.customers_mandates.with("cst_xxxxxxx").all()`

(where cst.xxxxxx

[2018-01-17 11:45] maysam commented on #34
does it still support subscriptions? I cannot find any documentations on it

[2018-01-17 12:00] rogerheykoop commented on #34
@maysam I am able to create subscriptions with it. After you've created the first payment you can do this:
`
      subscription = mollie.customers_subscriptions.with("cst_xxxxxxx").create({
      :amount      => 24.50,
      :interval    => "1 month",
      :description => "Subscription",
      :startDate  => Time.now+1.month,
      webhookUrl:"http://your-webhook-url",
    })
`
Basically I let th

[2018-01-17 12:23] benoist commented on #34
@rogerheykoop @maysam You can look at this file how to create a subscription via the new Api 3.1.1+

https://github.com/mollie/mollie-api-ruby/blob/master/examples/apis/subscriptions.rb#L104

[2018-01-17 15:12] maysam commented on #34
@benoist  subscriptions = Mollie::Customer::Subscriptions.all doesnt work with version 3, are you sure it's working?

[2018-01-17 15:12] benoist commented on #34
You need to add a customer_id in the params

[2018-01-17 15:33] maysam commented on #34
yes, but this is the error I get

NameError: uninitialized constant Mollie::Customer::Subscriptions

and everything else is working fine

GIT
  remote: https://github.com/mollie/mollie-api-ruby.git
  revision: 644d646e65b7b2cc8ee1b3b6aedf742bf8819384
  tag: v3.1.0
  specs:
    mollie-api-ruby (3.1.0)

[2018-01-17 16:43] benoist commented on #34
its singular Subscription

[2018-01-17 18:41] benoist opened #75 "Release 3.1.1"
@Daanvm can you release version 3.1.1

[2018-01-18 08:56] Smitsel commented on #75
Hi @benoist, could u draft us a changelog for the release?
Then i can take care of this for u.

[2018-01-28 12:14] benoist commented on #75
- All new API based on resource models
- Support nested resources
- Added relation model and configured relations for customers, payments
- Added content type to client
- Pass options array to get
- Pass extra options to all method
- Camelize get params closes #62
- Added refunds resource and added more examples
- Added gift card method
- Added all new examples with swagger documentation
- Add que

[2018-01-28 21:08] willemstuursma commented on #75
@mvdpanne can we automate releases just as with pip?

[2018-01-29 10:32] Smitsel commented on #75
Just drafted a new release, will take care of pushing it to ruby gems.

[2018-02-01 21:09] Zyphrax commented on #75
@benoist Where can I find an upgrade guide from v2 to v3?
I assume that this new major version breaks code? It would be nice to know what/how/where?

[2018-02-05 13:59] mvdpanne commented on #75
I just added configuration details for automatic deployment to RubyGems in `.travis.yml` and pushed it to master. When a new tag/release is pushed to GitHub, Travis CI will take care of publishing it on RubyGems.

[2018-02-05 14:18] #75 closed

[2018-02-06 04:29] Zyphrax commented on #75
@mvdpanne @willemstuursma Where can I find an upgrade guide from v2 to v3?

[2018-02-06 12:28] benoist commented on #75
@Zyphrax an upgrade guide will be provided soon

[2018-02-13 17:18] vernondegoede opened #76 "undefined method `api_key' for nil:NilClass"
I'm experiencing some issues when initializing the client. I get the following error:

[code]

When I'm instantiating a new client:

[code]

It seems like `self.instance` in `client.rb` doesn't return anything.

You can check out my `Gemfile.lock` over here (might be useful): https://gist.github.com/vernondegoede/04b11753e71d70091e8899a3318fdc79

[2018-02-13 19:36] benoist commented on #76
I see the with_api_key still requires a mollie configuration in an initializer. The configuration has no default yet.

So as a work around define in config/initializers/mollie.rb
[code]

[2018-02-13 19:45] vernondegoede commented on #76
Perfect! Thanks.

[2018-02-13 19:46] benoist commented on #76
I've added the patch to fix this

[2018-02-13 19:50] vernondegoede commented on #76
Works like a charm. Thanks again.

[2018-02-13 19:57] benoist commented on #76
@mvdpanne @Smitsel @vernondegoede any idea why travis is not releasing the gem?

[2018-02-13 20:20] vernondegoede commented on #76
Seems like a permission issue while running `dpl.3` on Travis. Not sure why.

[2018-02-14 08:15] mvdpanne commented on #76
That is strange. The encrypted `api_key` that is present in `.travis.yml` will be regenerated to make sure it is set correctly. If you want the gem released within the next few hours, you might be better off doing it manually for now.

[2018-02-14 08:17] benoist commented on #76
I don't have deploy rights for rubygems, so if someone can do that for me, that would be great!

[2018-02-14 08:19] mvdpanne commented on #76
Pinging @Smitsel to deploy v3.1.3 to Rubygems.

[2018-02-14 09:23] Smitsel commented on #76
Deployed v3.1.3 to Rubygems. Thanks guys.

[2018-02-14 09:29] Smitsel opened #77 "Auto deployment to Rubygems not working"
The automatic deployment in our travis build is still not working.
We were already aware but created this issue to keep track.

Can you look into it @mvdpanne?

[2018-02-28 19:04] benoist commented on #75
@Zyphrax I've added a migration guide to the readme

[2018-03-22 21:42] vernondegoede commented on #69
We just released the official Mollie payment gateway for Spree Commerce.

Check out the repo: https://github.com/mollie/spree-mollie-gateway

[2018-03-23 12:19] salman15 commented on #69
Great, looking forward to using it! :)

[2018-04-11 13:45] mvz opened #79 "No 3.0 release?"
I'm trying to upgrade to the 3.x series of this gem, and according to the changelog, there should be a 3.0.0 release where the old API is present but deprecated. However, this version is not available on rubygems, making migration harder.

[2018-05-04 13:36] ldestrooper opened #80 "Client cancels order to pick different payment method"
Is there a payments url parameter we can use to give the client a proper redirect back to the checkout page to choose a different payment method instead of continuing to the regular redirect url? @benoist

[2018-05-07 13:54] elfassy opened #81 "Test issuer is invalid"
[code]
The test issuer `ideal_TESTNL99` is listed as invalid, am i missing something?

[2018-05-07 14:32] willemstuursma commented on #81
The test issuer has been removed.

Please use one of the other iDEAL issuers. They can be retrieved using the issuers API.

https://www.mollie.com/en/developers/changelog

[2018-05-07 14:32] #81 closed

[2018-07-04 06:29] vernondegoede opened #83 "Adhere to Ruby Style Guide"
This client currently does not follow any style guide, which results in lots of code style inconsistencies within the source code (alignment, single/double quotes, etc.).

I would like this client to adhere to the community driven [Ruby Style Guide](https://github.com/rubocop-hq/ruby-style-guide).

One way to enforce this would be to add [Rubocop](https://github.com/rubocop-hq/rubocop) as a pre-co

[2018-07-09 21:40] justincase commented on #83
Can we initialise with `--auto-gen-config` to create a `.rubocop_todo.yml` config and fix things from there?

[2018-07-24 14:58] #77 closed

[2018-07-24 14:58] vernondegoede commented on #77
Fixed by adding the correct Rubygems secrets to `.travis.yml`

[2018-07-27 07:16] vernondegoede commented on #79
Hi @mvz,

I'm afraid something went wrong on our side. The first 3.x version that was published to Rubygems is 3.1.0: https://rubygems.org/gems/mollie-api-ruby/versions.

Also, there doesn't seem to be a tag created in Git. We [do have a `3.0.x` branch](https://github.com/mollie/mollie-api-ruby/tree/3.0.x), though.

If you would like to use the `3.0.x` branch in your project, add the following lin

[2018-07-27 07:16] #79 closed

[2018-08-16 13:33] vernondegoede commented on #83
@justincase is this something that you can pick up?

[2018-08-16 17:40] justincase commented on #83
@vernondegoede Sure! 👍

[2018-08-20 09:14] #83 closed

[2018-08-25 19:34] onurkucukkece opened #88 "Wrong key name in v2.2.x migration docs"
[code]

The updated key name for the amount in migration documentation is wrong. Please see #87

[2018-08-26 09:52] #88 closed

[2018-09-19 12:09] holstvoogd opened #90 "Exception inheritance broken"
Mollie::RequestError inherited from Mollie::Exception in v4.0.0, in v4.0.1 it inherits from RuntimeError instead due to a overzealous rubocop changing from Exception to RuntimeError:
https://github.com/mollie/mollie-api-ruby/commit/71a85be338386c40562da9a5c7f25a72ef67122c#diff-543ba3d039e06d458301c2f40e885ccfR5

[2018-09-19 13:45] #90 closed

[2018-10-02 14:04] ndijkstra opened #93 "Add new "authorized" status to client"
Hi @justincase,

We've added a new status in the v2 API for payments: `authorized`.
This status will be used for Klarna payments. Can you add this status to the client?

Thanks!

[2018-10-02 22:02] justincase commented on #93
@ndijkstra Sure. I've added this to #92.

[2018-10-08 07:03] vernondegoede commented on #93
Done 👍

[2018-10-08 07:03] #93 closed

[2018-10-19 14:32] vernondegoede opened #95 "Minor API changes"
There are a couple of new fields for the GET Payment response:

- `amountCaptured`
- `_.links.captures`. Can we list all captures using the `captures` method, just like we do with refunds? https://github.com/mollie/mollie-api-ruby/blob/master/lib/mollie/payment.rb#L170

I also noticed that there is currently no helper method to check whether a payment is refunded. Can we add the following helper m

[2018-10-23 14:10] justincase commented on #95
Sounds good, I’ll take a look over the weekend.

[2018-10-31 11:48] #95 closed

[2018-10-31 11:57] vernondegoede commented on #80
Mollie only accepts a `webhookUrl` and a `redirectUrl` when creating a new payment.

When a shopper cancels a payment during the Mollie checkout process, we call the `webhookUrl` to inform you of a payment state change. You should retrieve the current status of the payment at this point.

The moment your shopper is redirected to the `redirectUrl` again, you can simply create a new payment and redi

[2018-10-31 11:57] #80 closed

[2018-11-20 15:25] MathijsK93 opened #99 "Invalid endpoint for creating mandates"
I am migrating the mollie gem in our codebase from 2.2.1 to 4.1.2 and having issues when creating a mandate for an existing customer.

I use `Mollie::Customer::Mandate.create` for creating customer mandates, but the endpoint used for this request is `http://api.mollie.com:443/v2/mandates`. According to the API reference it must be: `https://api.mollie.com/v2/customers/*customerId*/mandates`.

See

[2018-11-20 15:43] vernondegoede commented on #99
@justincase Can you take a look?

[2018-11-22 19:38] justincase commented on #99
Hi @MathijsK93, creating a mandate requires a number of mandatory attributes. Could you try the following?

[code]

[2018-11-23 10:56] MathijsK93 commented on #99
Hi @justincase thanks for your reply.
My rspec factory had a empty `customer_id` which resulted in an incorrect URL to the API.
Sorry for the inconvenience!

[2018-11-23 10:56] #99 closed

[2018-12-07 08:52] vernondegoede opened #101 "Implement Certifi package"

[2018-12-07 09:31] martijnpolder commented on #101
I reviewed the [Certifi](https://certifi.io) package, it seems legit and accurately maintained. I'm greenlighting the use of this package to improve on our current CA update process.

[2019-01-31 15:10] olegsobchuk opened #103 "Payment list for appropriate subscription"
How can I fetch a list of `Payment`s for appropriate `Subscription`? I found that it is possible to fetch all Payments, but in my case needed only for Subscription. API has this [endpoint](https://docs.mollie.com/reference/v2/subscriptions-api/list-subscriptions-payments).
Thanks

[2019-02-01 00:39] justincase commented on #103
Hi, the Ruby client doesn't have this functionality yet. I'll see what I can do.

[2019-02-05 06:55] jlogan opened #104 "Mollie Connect mandate create"
Hello,

mollie_access_token: "access_XXXXX",
mollie_refresh_token: "refresh_XXXXX",
mollie_profile_id: "pfl_XXXXX"

I've tried to create payment like this

payment = Mollie::Client.with_api_key("access_XXXXX") do
  Mollie::Payment.create(
    profileId:"pfl_XXXXX",
    amount:       { value: '110.00', currency: 'EUR' },
    description:  'My first moillie connect API payment',
    applicationFee:

[2019-02-05 07:03] rubydevteam opened #105 "Mollie Connect Mandate Issue"
Hello,

mollie_access_token: "access_XXXXX",
mollie_refresh_token: "refresh_XXXXX",
mollie_profile_id: "pfl_XXXXX"

I've tried to create payment like this

payment = Mollie::Client.with_api_key("access_XXXXX") do
Mollie::Payment.create(
profileId:"pfl_XXXXX",
amount: { value: '110.00', currency: 'EUR' },
description: 'My first moillie connect API payment',
applicationFee: { amount: { value: '1.00'

[2019-02-05 07:35] vernondegoede commented on #105
@rubydevteam Looks like you're trying to collect application fee from your own account. Can you try the same call again using a different account / access key?

[2019-02-07 19:32] rubydevteam commented on #105
access_token = 'test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'   //test key of the different account
      payment = Mollie::Client.with_api_key(access_token) do
        Mollie::Payment.create(
          testmode: true,
          profileId: "pfl_XXXXXXXXX",
          amount:       { value: '110.00', currency: 'EUR' },
          description:  'My first moillie connect API payment',
          application

[2019-02-08 08:17] willemstuursma commented on #105
The testmode paramter is only for OAuh Access Tokens / Organization Access Tokens. When using API keys (that start with `test_` or `live_`, the `testmode` parameter is not allowed.

[2019-02-08 08:26] jlogan commented on #105
OK great thanks. Let me try without testmode

[2019-02-08 09:27] rubydevteam commented on #105
ohk great thanks, Let me try without testmode and will get back to you asap

Thanks

[2019-02-08 12:41] #105 closed

[2019-02-09 10:11] rubydevteam commented on #105
access_token = 'test_Fun6cPUExxhbKw78BukFPrFVuebdVq'
payment = Mollie::Client.with_api_key(access_token) do
   Mollie::Payment.create(
     profileId: "pfl_KSJWGdbW5V",
     amount:       { value: '110.00', currency: 'EUR' },
     description:  'My first moillie connect API payment',
     applicationFee: {amount: { value: '10.00', currency: 'EUR' }, description:'Application Fee'},
     redirect_ur

[2019-02-09 18:29] willemstuursma commented on #105
When using an API key, the profile is already determined by the API key and hence should also be omitted.

To get ahead, you can also not use the `applicationFee` parameter when using an API key. You need an OAuth access token for that.

[2019-02-10 22:39] justincase opened #106 "Retrieving a shipment via Capture is broken"
`Capture#shipment` is broken since it doesn't send the `order_id`. Unfortunately, there is no `order_id` attribute on the capture model. We should probably redesign the client to use the `_links` hrefs instead.

[2019-02-14 15:50] olegsobchuk opened #107 "metadata for Subscription"
for instance `Mollie::Customer::Subscription` method `metadata` is absent.

Is it possible to add method to this class?

Thx

[2019-02-14 16:04] vernondegoede commented on #107
Thanks @olegsobchuk, we'll release a new version of the API client tomorrow, which should fix this issue.

[2019-02-15 07:35] olegsobchuk commented on #107
@vernondegoede  wow, thx, looking forward

[2019-02-15 09:49] #107 closed

[2019-02-15 09:56] vernondegoede commented on #107
@olegsobchuk Just released `4.1.5`, which allows you to use metadata within a Subscription. Let me know if you run into anything else 👍

`gem 'mollie-api-ruby', '~> 4.1', '>= 4.1.5'`

[2019-02-17 14:43] #101 closed

[2019-02-17 14:44] vernondegoede commented on #101
Closing this issue as the Certifi package seems to be no longer maintained.

[2019-03-08 14:18] willemstuursma opened #109 "Update list of Ruby versions to test against"
In Travis I see that we are testing against Ruby 2.1, 2.2 and 2.3.

These versions seem very old and some versions won't install our dependencies via bundler.

@justincase can you update the supported versions in `.travis.yml` to something that makes sense?

cc @vernondegoede

[2019-03-09 16:24] justincase commented on #109
The client adds the Ruby version to the ‘User-Agent’ header. Perhaps we can use this to determine which older versions of Ruby we wish to support?

[2019-03-11 06:59] willemstuursma commented on #109
I'll have a look when I'm back in the office.

What is the lowest Ruby version that still gets security patches?

Can you update the list with the more modern versions?

[2019-03-11 09:19] justincase commented on #109
Ruby 2.3 at the moment but it’s EOL at the end of the month: https://www.ruby-lang.org/en/downloads/branches/

Will do.

[2019-03-11 10:59] willemstuursma commented on #109
Is it reasonable to drop support for < 2.3? How does the Ruby community feel about that?

[2019-03-11 11:09] willemstuursma commented on #109
@vernondegoede can you give us some input here?

[2019-03-11 14:19] vernondegoede commented on #109
We cannot drop support for 2.3 yet, but everything < 2.3 should be fine. Let's test against 2.3, 2.4, 2.5 and 2.6 in Travis.

[2019-03-11 14:28] vernondegoede commented on #106
I agree that we should redesign the way this currently works. Can you pick this up Justin?

[2019-03-11 14:31] vernondegoede opened #110 "Implement Onboarding APIs"
We recently released two new APIs:
- [Get onboarding status](https://docs.mollie.com/reference/v2/onboarding-api/get-onboarding-status)
- [Submit onboarding data](https://docs.mollie.com/reference/v2/onboarding-api/submit-onboarding-data)

Would be great if the API client could support these as well.

[2019-03-12 19:44] #109 closed

[2019-04-09 10:43] vernondegoede opened #112 "Add P24 (przelewy24) payment method"
See https://github.com/mollie/mollie-api-ruby/blob/master/lib/mollie/method.rb

[2019-04-09 10:44] vernondegoede opened #113 "Add application fee support to Subscriptions"
This is already implemented in payments and orders.

More information: https://docs.mollie.com/oauth/application-fees

[2019-04-09 10:46] vernondegoede opened #114 "Add helper methods to access links in Subscription resource"
More information: https://docs.mollie.com/reference/v2/subscriptions-api/get-subscription#response

[2019-04-17 05:02] #112 closed

[2019-05-20 09:09] #113 closed

[2019-05-20 09:13] #114 closed

[2019-06-18 11:07] ernstwys opened #119 "Mollie Test naar Live"
Ben bezig geweest met een developer om de recurring functie te configureren in Rails.
Na het overstappen van de Test api naar Live, krijg ik  deze melding.

Mollie::RequestError (404 Not Found: Customer cst_UKAmzEESQv exists, but the wrong mode is used. Try switching live / test API keys.):

Enig idee?

[2019-06-18 12:39] vernondegoede commented on #119
Did you create the customer using the same API key?

[2019-06-18 12:49] ernstwys commented on #119
Most of the users were existing, yes

[2019-06-18 13:09] vernondegoede commented on #119
Customers can also be created in test mode (which will happen when using the test API key), which means that you can only create live recurring payments using customers that were also created in live mode.

Let me know if you run into any additional issues 👍

[2019-06-18 13:09] #119 closed

[2019-06-24 07:20] ernstwys commented on #119
That was it... Thanks for the quick response

[2019-09-16 07:11] #103 closed

[2019-10-01 06:56] #110 closed

[2019-10-11 09:51] ldestrooper opened #125 "Vraag metadata"
Ik ben bezig met het implementeren van de payments en heb de metadata nodig om de order_id in op te slaan.

Opslaan doe ik zo:
payment = Mollie::Payment.create(
    method:       'mistercash',
    amount:       cart_total_incl_tax,
    description:   'Uw bestelling',
    redirectUrl: checkout_status_url,
    webhookUrl:     checkout_update_url,
    customerId: @cart.user.mollie_id,
    metadata:

[2019-10-11 11:34] vernondegoede commented on #125
Hi @ldestrooper,

Sla je in je database op welke Mollie payment(s) bij een order hoort/horen? Je kunt het beste een webhook / redirect URL genereren waarin je ook je Mollie payment ID & en `order_id` meestuurt.

Op het moment dat je webhook / redirect URL aangeroepen wordt kan je vervolgens:

1. De juiste order ophalen a.h.v. `order_id` en controleren of deze order in je database bestaat.
2. Check

[2019-10-11 11:34] #125 closed

[2020-01-09 14:17] ldestrooper opened #128 "Testing if customer id exists"
Is it possible to check if a customer id exists?

If i use Mollie::Customer.get i immediately get an exception.

[2020-01-12 00:20] justincase commented on #128
You can rescue the exception:

[code]

@vernondegoede We could add a `NotFound` exception to rescue 404s

[2020-02-01 10:35] #128 closed

[2020-02-04 09:29] #106 closed

[2020-02-11 10:33] pcoenen opened #133 "Links for new versions not working"
The links in the readme for  v2.2.X and  v3.1.X are not working.

[2020-02-11 13:28] #133 closed

[2020-02-11 13:29] vernondegoede commented on #133
Thanks – pushed a fix to `master`.

[2020-03-12 12:17] jampack opened #134 "getting 405 method not allowed"
mollie-api-ruby (4.6.2)
ruby 2.6.0

method `Mollie::Customer::Subscription.update`

code
[code]

exception
[code]

[2020-03-13 18:11] justincase commented on #134
Hi,

I believe this error occurs because `subscription_id` is `nil`.

[2020-03-23 09:36] #134 closed

[2020-06-15 04:36] madzhuga opened #137 "Creating iDEAL payment with QR code"
According to [Mollie API](https://docs.mollie.com/reference/v2/payments-api/create-payment#response) we have to change API endpoint to have `https://api.mollie.com/v2/payments?include=details.qrCode`

Is there any option on `Mollie::Payment.create` to change endpoint that way and include QR code in a response?

[2020-06-15 06:54] vernondegoede commented on #137
Hi @madzhuga,

[code]

[2020-06-15 09:49] madzhuga commented on #137
Hi @vernondegoede! Thank you very much for answer!

[2020-06-15 09:49] #137 closed

[2020-11-10 11:33] madzhuga opened #139 "Test environment limitations"
Hi!

That's not quite an issue but I didn't find a better way to contact API development team :)

The question is: we're working on refund functionality and we need to have SEPA payments in 'paid' status. After I create SEPA payments - they stay in 'PENDING' mode and only things I can do is cancel them. Is there a way to move SEPA payments to 'paid' status?

Thanks in advance!
Max

[2020-11-11 00:19] justincase commented on #139
Hi Max,

Recurring payments have a `changePaymentState` endpoint which allows you to change the payment state:

[code]

[2020-11-11 04:51] madzhuga commented on #139
Hi Justin,

Thank you very much for your answer. That's exactly what I need!

Max

[2020-11-11 04:51] #139 closed

[2020-11-14 19:15] peterberkenbosch opened #140 "gem releases are running behind"
https://rubygems.org/gems/mollie-api-ruby is only listing up to `4.7.1` while the current tagged version here is `4.9.0`

[2020-11-19 15:11] Pyo25 opened #141 "Retrieve Payment linked to Order ?"
Hi,

The doc says we can get payments linked to an Order using the `embed` parameter.
However it doesn't seem supported by this gem.

How can I get payments linked to an order then?

It's possible to get the order linked to a payment but not the inverse. Am I right?

Thank you!

[2020-12-04 21:45] tolgap commented on #140
Hello maintainers. Will 4.8 and 4.9 eventually be packaged and released?

[2020-12-05 16:05] peterberkenbosch commented on #140
Gently pinging @justincase, @vernondegoede .

[2020-12-07 23:45] justincase commented on #140
Hi @peterberkenbosch, I'll follow up with @vernondegoede. Thanks!

[2020-12-08 08:19] vernondegoede commented on #140
It seems that OTP has been enabled, which blocks automatic releases. I've asked @martijnpolder to look into this, after which we can trigger the pipelines again.

Thanks for the heads-up @peterberkenbosch!

[2020-12-08 12:27] peterberkenbosch commented on #140
Awesome! Thanks all!

[2021-01-11 18:50] justincase commented on #141
Hi @Pyo25,

Correct, it's not yet supported by the Ruby client. In the meantime, there's a workaround that you could use:
[code]

Please keep in mind that `#attributes` should not be used in general and could break in future versions of the client.

[2021-01-27 10:37] gismoog opened #142 "Is this gem still under active development"
I am just starting a new project and would like to use mollie. But apparently this gem is no longer actively developed. Can I expect any updates in the near future or would it be better to use another payment service provider?

[2021-01-27 19:33] wout commented on #142
This is the official gem, and it's pretty feature complete. That doesn't mean it's not actively developed. What's the reason for your conclusion?

[2021-01-29 11:31] peterberkenbosch commented on #140
@martijnpolder any updates on this? More then happy to jump on this on my opensource Friday cycles. So feel free to reach out if there is some additional help needed. //cc @vernondegoede

[2021-01-29 11:33] peterberkenbosch commented on #142
You can use this no problem @gismoog, however I understand your concern. Right now the best way to use this gem is to use the github link and not use the currently released gem. Work is in progress to enable to build and release pipeline again (see #140)

It is feature complete and stable and I can definitly recommend Mollie as a PSP.

[2021-02-10 08:00] gerard76 opened #143 "422 Unprocessable Entity: The specified amount cannot be refunded"
If there is not enough balance on your account with the payment provider creating a refund can result in an HTTP `422` error.

In this case the refund will be queued (https://docs.mollie.com/payments/refunds) until sufficient balance is available again.

mollie-api-ruby raises a `Mollie::RequestError` https://github.com/mollie/mollie-api-ruby/blob/31a47aacc3a50b00fd5723d7838fa19cc435b299/lib/molli

[2021-02-10 12:17] justincase commented on #143
Thanks @gerard76, I'll investigate.

[2021-02-24 09:51] tbolender opened #144 "Broken pagination for nested relationships"
First of all, thank you very much for this gem, it makes integration for payment processing a breeze.

However, I am currently struggling to extract settlement details with this gem. My goal is to retrieve all payments of a settlement. Since the API delivers the payments paginated, my approach is like this:

[code]

I know it is not very Rubyish, but was the only way I know. This code returns paym

[2021-02-24 09:54] tbolender commented on #140
It would be nice to have this issue solved to be able to use captures in our production code!

[2021-03-02 18:17] #144 closed

[2021-04-02 21:49] justincase commented on #143
Hi @gerard76,

The API should return a `201 Created` in this scenario. Could you post the full exception message if you encounter a `422` again?

[2021-04-03 06:20] gerard76 commented on #143
Have not seen it since, but here is the backtrace from the incident on February 6th:

<img width="885" alt="Screenshot 2021-04-03 at 08 11 25" src="https://user-images.githubusercontent.com/765547/113470244-60600000-9454-11eb-9285-c2af98fbaab3.png">

The full message was `422 Unprocessable Entity: The specified amount cannot be refunded`

When reading the docs I did not expect a `201`, but a `4xx`

[2021-04-05 06:31] madzhuga opened #146 "Mollie::Method.all missing some methods"
Is there a way to check account maximum amount value via API?

[2021-04-05 22:47] justincase commented on #146
Hi @madzhuga,

`Mollie::Method#maximum_amount` contains the maximum amount that a payment method supports:
[code]

Or by filtering all payment methods:

[code]

[2021-04-06 04:25] madzhuga commented on #146
Hi @justincase

Thank you for your replay.

The thing is: when I call `Mollie::Method.all` it return iDEAL payment method only but if I call `Mollie::Method.get('directdebit')` - it returns values for that payment method. And then I see directdebit limit that is lower that the payment value caused 422 error.

I will update the issue description.

[2021-04-06 17:11] justincase commented on #143
This error indicates the refund is higher than the remaining amount that can be refunded. To illustrate:

[code]
Could this be the case here?

[2021-04-06 18:55] gerard76 commented on #143
Hrmmm, no, but you gave me an idea. There were multiple refunds requested, so the actual amount was right, but it was already requested....

Why are bugs more often something silly and stupid? I would like to solve bugs by being smart and cunning, not by finding out I have been stupid!

Thank you for your time!

[2021-04-06 18:55] #143 closed

[2021-04-12 18:23] justincase commented on #146
`Mollie::Method.all` returns all payment methods that are enabled in your account. Could you confirm that's the case?

Perhaps a little confusing, `GET https://api.mollie.com/v2/methods/all` which returns all payment methods that Mollie offers and can be activated by the Organization, isn't implemented yet.

[2021-04-12 18:29] madzhuga commented on #146
`Mollie::Method.all` returns only `activated` methods which is strange.

We have `directdebit` with status `pending-review`. It allows us to create payments but does not allow us to see directdebit details in `Mollie::Method.all`.

We have to use `Mollie::Method.get` - 3-4 requests to collect payment methods details instead of using one `Mollie::Method.all` request.

[2021-04-25 19:33] justincase opened #148 "Update order line API returns incorrect class"
### Expected results

[code]
### Actual results

[code]

The client assumes all update requests return the same resource type. The "update order line" API returns the full order object instead.

[2021-04-25 21:13] justincase opened #149 "Implement "list all payment methods" API"
API documentation: https://docs.mollie.com/reference/v2/methods-api/list-all-methods

Resolves mollie/mollie-api-ruby#146

[2021-04-25 21:23] justincase commented on #146
Hi @madzhuga,

I've opened mollie/mollie-api-ruby#149 to implement `/v2/methods/all`. This returns all payment methods available to your organization, including those with status `pending-review`.

[2021-04-25 21:51] justincase commented on #142
Hi @gismoog,

I'm the maintainer of the Ruby gem on behalf of Mollie. As mentioned, the gem is, by and large, feature complete. Please let me know if there's anything missing or otherwise need help with.

[2021-04-29 11:49] madzhuga commented on #146
:+1:

[2021-05-05 19:20] #142 closed

[2021-06-13 10:24] #146 closed

[2021-06-13 10:24] #149 closed

[2021-06-13 11:07] #148 closed

[2021-08-24 13:12] nflorentin opened #154 "Mollie::Method::all returning voucher on fresh created account"
Hi,

On a recently created Mollie account, a call to the api with:
[code]
returns the voucher payment method which is not activated in Mollie dashboard, as seen on the following screenshot:
![Capture d’écran 2021-08-24 à 15 08 47](https://user-images.githubusercontent.com/5750349/130621994-484fa398-3778-4a82-8bb9-8d62ac1d27b9.png)

If I remove `resource: 'orders'` from the parameters, the vouche

[2021-08-25 16:55] justincase commented on #154
Hi @nflorentin,

Thanks for the detailed bug report. It appears to be a bug in the API response. The issue has been forwarded to the correct team at Mollie. I'll update this ticket when I have more information.

[2021-09-09 06:51] Pyo25 commented on #141
Hi @justincase ,

A few months later (oops sorry), thank you for the workaround.
Not the best solution as it could be broken, but at least it works now.

Thank you!

[2021-11-15 09:38] Bramjetten commented on #140
I was surprised by this just now. Would appreciate a new gem release ✌️

[2021-11-15 13:11] justincase commented on #140
I'll create a GitHub Release for v4.10.0 this week. However, publishing to RubyGems isn't possible at the moment because of the OTP issue mentioned by Vernon.

[2021-11-20 21:02] justincase commented on #141
Hi @Pyo25,

You no longer need the workaround in v4.10.0 (tagged on GitHub - releases on rubygems.org are running behind due to #140).

[code]

[2021-11-20 21:02] #141 closed

[2021-11-20 21:22] justincase commented on #140
`v4.10.0` is now released on GitHub ([CHANGELOG](https://github.com/mollie/mollie-api-ruby/blob/master/CHANGELOG.md#4100---2021-11-20))

I've sent out reminders to the relevant teams at Mollie that the RubyGems releases are still an issue. In the meantime, you can use the git tag in your Gemfile. For example:

[code]

[2021-11-21 08:46] peterberkenbosch commented on #140
great! Thanks @justincase

You can also use the github shortcut like this:

[code]

[2021-12-08 15:38] lvonk opened #155 "Get Partner for ruby gem"
Hi,

I can't seem to find how to get https://docs.mollie.com/reference/v2/organizations-api/get-partner# Get Partner using this gem. Am I missing something or is it not (yet) implemented?

[2021-12-08 16:37] justincase commented on #155
Hi @lvonk, you're correct. It hasn't been implemented yet.

[2022-01-13 07:47] lvonk commented on #155
Okay thanks. Is this on the roadmap in the foreseeable future?

[2022-01-13 16:22] justincase commented on #155
Definitely! I plan on adding it to v4.11.0 which should be released in the next 3-4 weeks.

[2022-02-06 22:02] justincase commented on #155
@lvonk The API has been added to the `partner-api` branch. If you have a moment, could you test it and tell me if it meets your requirements? Thanks!

**Gemfile**
[code]
**Usage**
[code]

[2022-03-01 18:11] justincase commented on #155
Released as v4.11.0

[2022-03-01 18:11] #155 closed